<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/homepage.css">

</head>
<body>
    <%- include('./partials/navbar.ejs') %>

    <h1>Collection Log</h1>




<div>
    <% if (user){ %>
        <a href="/games/createGame" class="navbutton">Create games</a>



    <% } else{ %>
    <h3> Sign in or sign up either way find a way to log in</h3>
    <h3> The buttons? yes you can click them  </h3>
    <h4> Still reading? Log in already!</h4>

    <% } %>
      <a href="/Games/mygames" class="navbutton">All games</a>
      <a href="/items/createitem" class="navbutton"> Create item</a>
</div>
</body>
</html>