<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/homepage.css">

</head>
<body>
    <%- include('./partials/navbar.ejs') %>

    <h1>Collection Log</h1>



<hr>
<div>
    <% if (user){ %>
        <a href="/games/createGame" class="button">Create games</a>



    <% } else{ %>
    <h3> sign in peasent or sign up either way find a way to log in</h3>

    <% } %>
<hr>
      <a href="/Games/mygames" class="button">All games</a>
     <hr>
      <a href="/items/createitem" class="button"> Create item</a>
</div>
</body>
</html>