
body {
    background-color: #61543E;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #333;
      background-image: url("/images/background.png");
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: #ffffff;
}

h2 {
    text-align: left;
    margin-top: 50px;
    color: #ffffff;
}

h3 {
    text-align: center;
    margin-top: 50px;
    color: #ffffff;
}


h4 {
    text-align: center;
    margin-top: 50px;
    color: #ffffff;
}
p{
     text-align: left;
    margin-top: 50px;
    color: #ffffff;
}
form {
    background: #C8AE77;
    max-width: 400px;
    margin: 10px auto;
    padding: 14px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* 3. Form Elements */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 0.9rem;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding doesn't affect width */
    transition: border-color 0.3s ease;
}

input:focus {
    outline: none;
    border-color: #000000;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #342C1F;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color:#000000;
;
    color: #ffffff;
}
.navbutton:hover {
    background-color:#000000;
;
    color: #ffffff;
}

.lowbutton:hover {
    background-color:#000000;
;
    color: #ffffff;
}

.editbutton:hover {
    background-color:#000000;
;
    color: #ffffff;
}

/* 
/* .navbutton {
    width: 8em;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #342C1F;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin: 1em;
    transition: background-color 0.3s ease;
    text-decoration:none;
} */


/* .editbutton {
    width: 8em;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #342C1F;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin: 1em;
    transition: background-color 0.3s ease;
    text-decoration:none;
} */

.lowbutton {
       
    display: inline-flex;  
    align-items: center;
  justify-content: center;
    cursor: pointer;
    width: 8em;
    padding: 10px;
    background-color: #342C1F;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin: 0.5em;
    transition: background-color 0.3s ease;
    text-decoration:none;
} 