
body {
    background-color: #61543E;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #333;
}
h1 {
    text-align: center;
    margin-top: 50px;
    color: #ffffff;
}

h2 {
    text-align: left;
    margin-top: 50px;
    color: #ffffff;
}

p{
     text-align: left;
    margin-top: 50px;
    color: #ffffff;
}
form {
    background: #C8AE77;
    max-width: 400px;
    margin: 10px auto;
    padding: 14px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* 3. Form Elements */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 0.9rem;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding doesn't affect width */
    transition: border-color 0.3s ease;
}

input:focus {
    outline: none;
    border-color: #000000;
}

/* 4. Button Styling */
button {
    width: 100%;
    padding: 40px;
    background-color: #342C1F;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button {
    width: 60px;
    padding: 40px;
    background-color: #342C1F;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin:5px
    ;
}
button:hover {
    background-color: #080000;
}

/* 5. Small cleanup for the <br> tags */
br {
    display: none; /* We use margins now for better spacing */
}
