
body {
    background-color: #61543E;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #333;
}
h1 {
    text-align: center;
    margin-top: 50px;
    color: #ffffff;
}

h2 {
    text-align: left;
    margin-top: 50px;
    color: #ffffff;
}

p{
     text-align: left;
    margin-top: 50px;
    color: #ffffff;
}

/* 3. Form Elements */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 0.9rem;
}



input:focus {
    outline: none;
    border-color: #000000;
}

/* 4. Button Styling */
button {
    width: 100;
    padding: 8px 24px;
    background-color: #342C1F;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 2px;
}

button:hover {
    background-color: #080000;
}

/* 5. Small cleanup for the <br> tags */
br {
    display: none; /* We use margins now for better spacing */
}
