

.button {
    display: inline-block;    
    text-decoration: none;   
    padding: 5px 10px;      
    background-color: #342C1F;
    color: white;       
    border-radius: 5px;      
    font-family: sans-serif;
    font-weight: 600;
    transition: background 0.2s ease; 
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color:#000000;
;
    color: #ffffff;
}

