

/* The Button Styling */
.button {
    display: inline-block;    /* Allows padding and height */
    text-decoration: none;    /* Removes the underline */
    padding: 5px 10px;       /* Vertical and Horizontal space */
    background-color: #342C1F;
    color: white;             /* Text color */
    border-radius: 5px;       /* Rounded corners */
    font-family: sans-serif;
    font-weight: 600;
    transition: background 0.2s ease; /* Smooth hover effect */
    border: none;
    cursor: pointer;
}

/* Hover effect */
.button:hover {
    background-color:#000000;
;
    color: #ffffff;
}

