<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="/css/create.css">

</head>
<body>
      <%- include('../partials/navbar.ejs') %>
    <h1>Create Games</h1>
     <form action="/games/creategame" method="POST">
      <label>Game name:</label>
      <input type="text" name="gameName" /><br />

      <button type="submit">Create</button>
    </form>
    <hr />

    <a href="/games/mygames" class="button">See All games</a>
      <Hr>
    <a href="/" class="button">Back to Home</a>
    <hr />
  </body>
</html>
</body>
</html>